<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>A2Workspace | Login</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
    <link rel="stylesheet" href="static/css/styles.min.css">
</head>

<body>
    <div class="login-clean">
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><img src="static/img/a2workspace.jpg" style="width: 200px;"></div>
            <div class="form-group"><input class="form-control" type="text" name="user" id="user" placeholder="Usuario" style="font-family: Poppins, sans-serif;font-size: 13px;background-color: rgb(247,247,247);text-align: center;border-radius: 5px;border-width: 0px;border-style: solid;box-shadow: 0px 0px 0px;font-weight: 400;font-style: normal;"></div>
            <div
                class="form-group"><input class="form-control" type="password" id="password" name="password" placeholder="Contraseña" style="font-family: Poppins, sans-serif;font-size: 13px;background-color: rgb(247,247,247);text-align: center;border-radius: 5px;border-width: 0px;border-style: solid;box-shadow: 0px 0px 0px;"></div>
    <div
        class="form-group"><button class="btn btn-primary btn-block" type="submit" style="font-family: Poppins, sans-serif;font-weight: 700;font-style: normal;background-color: rgb(5,90,218);text-align: center;font-size: 13PX;">INICIAR SESION</button></div>
        </form>
        </div>
        <script src="static/js/jquery.min.js"></script>
        <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>